
    /* CONTENIDO*/
    .contenido h2{
      font-size: 40px;
      text-align: center;
    }
    .contenido button{
      background-color: #183B71;
      color: rgb(255, 255, 255);
      border: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
    } 
    .contenido button:hover{
      background-color: #87ace4;
    }
    #botonCancelar{
      margin-left: 100px;
      margin-top: 100px;

    }
    #botonPostularse{ 
      margin-left: 100px;
      margin-top: 100px;
    }

    .formulario {
      margin: auto;
      margin-top: 20px;
      text-align: center;
    }
    .votacion{
      margin-right: 290px;
    }
    #votacionT{
      margin-right: 18px;
    }
   
    #propuestaTXT{
      margin-left: 75px;
      margin-top: -18px;
      background-color: rgba(24, 59, 113, 0.28);
      border: #ffffff;
    }
    #propuesta{
      margin-right: 490px;
    }





 