{% extends "app/base.html" %}
{% load static %}

{% block css%} 
    <link rel="stylesheet" href="{% static 'app/css/formulario.css' %}" />
{% endblock%} 

{% block contenido%} 
<div class="contenido">
    <div class="titulo">
        <h1>Cambiar Estado</h1>
    </div>
    <div class="panel">
        
        <div class="formulario">
            
            <h3>Nombre <Label>{{v.nombre}}</Label></h3>
            <h3>Fecha de inicio <label>{{v.fechaInicio}}</label></h3>
            <h3>Fecha de finalización <label>{{v.fechaFinal}}</label></h3>
            <h3>Ciclo <label>CICLO</label></h3>
            <h3>Facultad <label>{{f}}</label></h3>
            <h3>Tipo de Votación <label>{{v.tipo_id}}</label></h3>                    
            <h3>
                <input type="radio" name="x">Postulación</label>
                <br>
                <input type="radio" name="x">Votación</label>
                <br>
                <input type="radio" name="x">Cerrado</label>
                <br>
            </h3>
            <a href="{% url 'app:listaDeVotaciones'%}">
                <button>Guardar</button>
            </a>
            
        </div>
        
        
    </div>
</div>  
{% endblock%} 