{% extends "app/headerEstudiante.html" %}
{% load static %}

{% block css%}   
<link rel="stylesheet" href="{% static 'app/css/listaResultados.css' %}" />
{% endblock%} 

{% block contenido%} 
        <div class="contenido">
            <h1>Lista de Resultados</h1>
            <p>En este listado encontrará los resultados de las votaciones en las que participó</p>
            <div class="tabla">
                <table>
                    <tr class="TitulosTabla">
                        <td>Nombre</td>
                        <td>Tipo</td>
                        <td>Fecha de inicio</td>
                        <td>Fecha de finalización</td>
                        <td>Ciclo</td>
                        <td>Estado</td>
                        <td>Detalles</td>
                    </tr>
                    <tr class="ContenidoTabla">
                        <td>Nombre 1</td>
                        <td>Facultad</td>
                        <td>10/10/10</td>
                        <td>10/10/10</td>
                        <td>2022-1</td>
                        <td>Votación</td>
                        <td>
                        <!-- {% url 'app:detallesResultadosFacultad'%}    -->
                        <a href="{% url 'app:detallesResultado'%}">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        </td>
                    </tr>
                </table>
               
             </div>
        </div> 
    </div>
    
    {% endblock%} 
