{% extends "app/headerEstudiante.html" %}
{% load static %}

{% block css%} 
    <link rel="stylesheet" href="{% static 'app/css/postulacion.css' %}" />
{% endblock%} 

{% block contenido%} 
        
        <div class="contenido">
            <form action="{%url 'app:postulacionPost' v.id %}" method="POST">
                <div class="formulario">
                    {% csrf_token %}
                    <h2>Postulación</h2>
                    <div class="votacion">
                        <h3>Votación <label>{{v.nombre}}</label></h3>
                    </div>
                    <br>
                    <h3>Propuesta</h3>
                    <br>
                        <input type="text" name="propuesta" cols="60" rows="20">  
                    <br>
                </div> 
                <a>
                    <Button type="submit" id="botonPostularse">POSTULARSE</Button>
                </a>                  
            </form>   
            <Button id="botonCancelar">
                <a href="{% url 'app:postularme'%}">CANCELAR</a>
            </Button>
        </div> 
    </div>
    
{% endblock%}