{% extends "app/headerEstudiante.html" %}
{% load static %}

{% block css%} 
    <link rel="stylesheet" href="{% static 'app/css/postulacion.css' %}" />
{% endblock%} 

{% block contenido%} 
        
        <div class="contenido">
            <form >
                <div class="formulario">
                    <h2>Postulación</h2>
                    <div class="votacion">
                        <h3>Votación <label>Votación1</label></h3>
                    </div>
                    <br>
                    <h3 id="propuesta">Propuesta</h3>
                    <br>
                    <textarea name="propuesta" id="propuestaTXT" cols="60" rows="20"></textarea>
                    <br>
                </div> 
                <Button id="botonCancelar">
                    <a href="{% url 'app:listaVotacionesEstudiantes'%}">CANCELAR</a>
                </Button>   
                <Button id="botonPostularse">
                    <a href="{% url 'app:postulacionExitosa'%}">POSTULARSE</a>
                </Button>                  
            </form>    
        </div> 
    </div>
    
{% endblock%}