{% extends "app/headerEstudiante.html" %}
{% load static %}

{% block css%} 
    <link rel="stylesheet" href="{% static 'app/css/votarCandidato.css' %}" />
{% endblock%} 

{% block contenido%} 
        
        <div class="contenido"> 
            <h1>Nombre de Votación</h1> 
            <h2>Tipo</h2>
            <h3>Fecha de inicio <label>10/02/2022</label></h3>
            <br>
            <h3>Fecha de finalización <label>10/03/2022</label></h3>
            <br>
            <h3>Semestre <label>Ingeniería de Telecomunicaciones</label></h3>

            <h4>Lista de candidatos</h4>

            <div class="candidato">
                <button>
                    <i class="fa-solid fa-user"></i>
                    <br>
                    <a href="{% url 'app:votacionExitosa'%}">
                        <h3>Votar</h3>
                    </a>  
                </button>
                <ul>
                    <li>Nombres y Apellidos</li>
                    <li>Propuesta</li>
                </ul>
 
            </div>
            <br>
            <br>  

        </div> 
    </div>
    {% endblock%}